In [3]:
import pandas as pd
import seaborn as sns

In [4]:
CPS_df = pd.read_csv("../data/processed/cps_2009_2017_clean")
ACS_df = pd.read_csv("../data/processed/ACS_2011_2017_clean")
NFCS_df = pd.read_csv("../data/processed/NFCS_2009_2018_clean")

C:\Users\Desmond\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [24]:
frames = [CPS_df, ACS_df, NFCS_df]

In [26]:
#declaring STATE list
STATES = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
          "Connecticut","Delaware","District of Columbia", "Florida","Georgia","Hawaii",
          "Idaho","Illinois", "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine",
          "Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
          "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
          "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
          "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
          "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

In [27]:
#generating state:state_number dictionary
STATE_FIPS = list(frames[0].STATEFIP.unique())

STATE = {}
for state, name in zip(STATE_FIPS, STATES):
    STATE[state] = name

In [48]:
#generating STATE column for pertinent dfs
CPS_df["STATE"] = CPS_df.STATEFIP.map(STATE)
ACS_df["STATE"] = ACS_df.STATEFIP.map(STATE)

In [60]:
pop_prop = pd.read_csv("../data/interim/population_proportions")

In [72]:
pop_prop.BUNBANKED

0      9405
1      8083
2      8785
3      8929
4     56168
5     12088
6     11811
7      8890
8      8851
9     26018
10    14035
11    10085
12     8565
13    19681
14    10337
15    10546
16     9098
17     9354
18     9612
19     9548
20    13111
21    10969
22    15279
23    13168
24     8420
25    10466
26     8858
27     9387
28     9137
29    11679
30    13541
31     8075
32    27213
33    13757
34     8732
35    17667
36     8746
37     9741
38    19318
39     8907
40     9003
41     9119
42    10198
43    36518
44     9326
45     9109
46    13270
47    11663
48    10129
49    11673
50     8836
Name: BUNBANKED, dtype: int64

In [76]:
CPS_agg = pd.DataFrame()
CPS_agg["STATE"] = CPS_df.STATE
CPS_agg["UNDERBANKED"] = CPS_df.BUNBANKED
CPS_agg["UNDERBANKED_REASON"] = CPS_df.BUNDERBANKREAS

CPS_agg = CPS_agg.groupby(["STATE"]).count()

CPS_agg = CPS_agg.reset_index()

CPS_agg["STATE_SURVEY_POP"] = pop_prop["BUNBANKED"]

CPS_agg

                   STATE  UNDERBANKED  UNDERBANKED_REASON  STATE_SURVEY_POP
0                Alabama         4783                1010              9405
1                 Alaska         4398                1377              8083
2                Arizona         4909                1284              8785
3               Arkansas         4694                1031              8929
4             California        28842                8344             56168
5               Colorado         5991                2179             12088
6            Connecticut         6181                2350             11811
7               Delaware         4902                1625              8890
8   District of Columbia         5086                1305              8851
9                Florida        13291                3703             26018
10               Georgia         7144                2004             14035
11                Hawaii         5490                1658             10085
12                 Idaho         5107                1320              8565
13              Illinois        10811                3071             19681
14               Indiana         5482                1520             10337
15                  Iowa         5885                2043             10546
16                Kansas         5216                1661              9098
17              Kentucky         5322                1523              9354
18             Louisiana         4961                 953              9612
19                 Maine         5563                2019              9548
20              Maryland         7065                2454             13111
21         Massachusetts         6215                1696             10969
22              Michigan         8247                2411             15279
23             Minnesota         7431                2626             13168
24           Mississippi         4739                 944              8420
25              Missouri         5636                1649             10466
26               Montana         5376                1013              8858
27              Nebraska         5019                1654              9387
28                Nevada         5051                1572              9137
29         New Hampshire         6650                2360             11679
30            New Jersey         7117                1964             13541
31            New Mexico         4494                 760              8075
32              New York        13718                4101             27213
33        North Carolina         7446                2153             13757
34          North Dakota         4894                1267              8732
35                  Ohio         9924                2794             17667
36              Oklahoma         4669                1241              8746
37                Oregon         5506                1509              9741
38          Pennsylvania        10273                3010             19318
39          Rhode Island         4712                1733              8907
40        South Carolina         4931                1454              9003
41          South Dakota         5316                1868              9119
42             Tennessee         5600                1331             10198
43                 Texas        19419                5299             36518
44                  Utah         5165                1443              9326
45               Vermont         5429                1667              9109
46              Virginia         7407                2225             13270
47            Washington         7021                1980             11663
48         West Virginia         5329                1149             10129
49             Wisconsin         7123                2221             11673
50               Wyoming         5070                1398              8836

In [97]:
CPS_agg = pd.DataFrame()
CPS_agg["STATE"] = CPS_df.STATE
CPS_agg["UNDERBANKED_REASON"] = CPS_df.BUNDERBANKREAS

CPS_agg = CPS_agg.groupby(["STATE"])["UNDERBANKED_REASON"].count()

CPS_agg = CPS_agg.reset_index()
CPS_agg
#CPS_agg[CPS_agg["STATE"] == "Alabama"][]

                   STATE  UNDERBANKED_REASON
0                Alabama                1010
1                 Alaska                1377
2                Arizona                1284
3               Arkansas                1031
4             California                8344
5               Colorado                2179
6            Connecticut                2350
7               Delaware                1625
8   District of Columbia                1305
9                Florida                3703
10               Georgia                2004
11                Hawaii                1658
12                 Idaho                1320
13              Illinois                3071
14               Indiana                1520
15                  Iowa                2043
16                Kansas                1661
17              Kentucky                1523
18             Louisiana                 953
19                 Maine                2019
20              Maryland                2454
21         Massachusetts                1696
22              Michigan                2411
23             Minnesota                2626
24           Mississippi                 944
25              Missouri                1649
26               Montana                1013
27              Nebraska                1654
28                Nevada                1572
29         New Hampshire                2360
30            New Jersey                1964
31            New Mexico                 760
32              New York                4101
33        North Carolina                2153
34          North Dakota                1267
35                  Ohio                2794
36              Oklahoma                1241
37                Oregon                1509
38          Pennsylvania                3010
39          Rhode Island                1733
40        South Carolina                1454
41          South Dakota                1868
42             Tennessee                1331
43                 Texas                5299
44                  Utah                1443
45               Vermont                1667
46              Virginia                2225
47            Washington                1980
48         West Virginia                1149
49             Wisconsin                2221
50               Wyoming                1398

In [80]:
CPS_agg.reset_index()

    index  UNDERBANKED_REASON  STATE  STATE_SURVEY_POP
0       0                 1.0   1060              9405
1       1                 2.0   2607              8083
2       2                 4.0    722              8785
3       3                 6.0    166              8929
4       4                 7.0    125             56168
5       5                 8.0    355             12088
6       6                 9.0     45             11811
7       7                10.0    861              8890
8       8                11.0    178              8851
9       9                96.0     46             26018
10     10                97.0     43             14035
11     11                98.0      2             10085
12     12                99.0  96716              8565

In [38]:
CPS_agg["STATE_SURVEY_POP"] = CPS_df["BUNBANKED"]

In [ ]:
CPS_agg = CPS_agg.reset_index()

In [39]:
CPS_agg.head()

            UNBANKED  STATE_SURVEY_POP
STATE
Alabama         4783               NaN
Alaska          4398               NaN
Arizona         4909               NaN
Arkansas        4694               NaN
California     28842               NaN