In [47]:
import pandas as pd
import dask.dataframe as dd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.impute import KNNImputer

In [2]:
#reading in CPS data
cps_copy = pd.read_csv("../data/raw/cps_00050.zip")

In [11]:
#creating CPS copy for manipulation
cps_cleaning = cps_copy.copy()

In [12]:
#seeing data structure
cps_cleaning.shape

(1578977, 161)

In [13]:
#reviewing CPS columns
cps_cleaning.columns

Index(['YEAR', 'SERIAL', 'MONTH', 'HWTFINL', 'CPSID', 'REGION', 'STATEFIP',
       'COUNTY', 'BPSUPINT', 'BUNBANKED',
       ...
       'QCINTSCH', 'QCINTUSE', 'QCINUMCMP', 'QCISTPNET', 'QCIUSECMP', 'CIPWT',
       'CISUPPWT', 'UBSUPPWT', 'BPACCT', 'BWHOACCT'],
      dtype='object', length=161)

In [14]:
#isolating variables of interest
cps_cleaning = cps_cleaning[["YEAR", "MONTH", "REGION", "STATEFIP", "COUNTY", "BUNBANKED", "BUNDERBANKREAS", "BACCTEV", "BCHECKEV", "BCHECK12M", "BCHECKREAS", 
                 "BPAYDAY", "BPAYDAYOFT", "BPAYDAYREAS", "BCHECK30D", "BPAYDAY12M", "BPAYDAY30D", "BINCWHERE", 
                 "BBILLCASH", "BBILLCHECK", "BCREDITAPP", "BCREDITDENY", "BSAVECACCT", "BINC12M", "BINTERNET", 
                         "BPSUPINT"]]

In [15]:
#examining basic data statistics 
round(cps_cleaning.describe(), 2)

,YEAR,MONTH,REGION,STATEFIP,COUNTY,BUNBANKED,BUNDERBANKREAS,BACCTEV,BCHECKEV,BCHECK12M,...,BPAYDAY30D,BINCWHERE,BBILLCASH,BBILLCHECK,BCREDITAPP,BCREDITDENY,BSAVECACCT,BINC12M,BINTERNET,BPSUPINT
count,1578977.00,1578977.00,1578977.00,1578977.00,1578977.00,654904.00,267633.00,654904.00,133950.00,520954.00,...,265475.00,255479.00,255479.00,255479.00,255479.00,255479.00,255479.00,255479.00,255479.00,654904.00
mean,2012.61,7.25,28.17,28.08,9700.55,23.79,91.21,94.04,17.55,63.53,...,97.42,96.65,37.91,40.99,38.91,90.02,63.90,38.36,38.14,1.24
std,2.71,2.63,10.66,16.01,15210.79,41.24,25.99,21.42,35.69,46.75,...,12.31,14.97,46.89,47.89,47.11,28.14,46.69,47.34,47.36,0.43
min,2009.00,1.00,11.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
25%,2010.00,6.00,21.00,13.00,0.00,1.00,99.00,99.00,2.00,2.00,...,99.00,99.00,2.00,1.00,2.00,99.00,2.00,1.00,1.00,1.00
50%,2012.00,7.00,31.00,28.00,0.00,1.00,99.00,99.00,2.00,99.00,...,99.00,99.00,2.00,2.00,2.00,99.00,99.00,2.00,1.00,1.00
75%,2015.00,10.00,41.00,42.00,12127.00,2.00,99.00,99.00,2.00,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,1.00
max,2017.00,11.00,42.00,56.00,55139.00,99.00,99.00,99.00,99.00,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,2.00

In [19]:
#examining null values as percentages
cps_cleaning.isnull().sum()/len(cps_cleaning)*100

YEAR               0.000000
MONTH              0.000000
REGION             0.000000
STATEFIP           0.000000
COUNTY             0.000000
BUNBANKED         58.523525
BUNDERBANKREAS    83.050228
BACCTEV           58.523525
BCHECKEV          91.516659
BCHECK12M         67.006866
BCHECKREAS        83.050228
BPAYDAY           74.703558
BPAYDAYOFT        91.516659
BPAYDAYREAS       83.050228
BCHECK30D         83.186899
BPAYDAY12M        58.523525
BPAYDAY30D        83.186899
BINCWHERE         83.819967
BBILLCASH         83.819967
BBILLCHECK        83.819967
BCREDITAPP        83.819967
BCREDITDENY       83.819967
BSAVECACCT        83.819967
BINC12M           83.819967
BINTERNET         83.819967
BPSUPINT          58.523525
dtype: float64

In [58]:
#examining current data types
cps_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1578977 entries, 0 to 1578976
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BUNBANKED       654904 non-null  float64
 1   BUNDERBANKREAS  267633 non-null  float64
 2   BACCTEV         654904 non-null  float64
 3   BCHECKEV        133950 non-null  float64
 4   BCHECK12M       520954 non-null  float64
 5   BCHECKREAS      267633 non-null  float64
 6   BPAYDAY         399425 non-null  float64
 7   BPAYDAYOFT      133950 non-null  float64
 8   BPAYDAYREAS     267633 non-null  float64
 9   BCHECK30D       265475 non-null  float64
 10  BPAYDAY12M      654904 non-null  float64
 11  BPAYDAY30D      265475 non-null  float64
 12  BINCWHERE       255479 non-null  float64
 13  BBILLCASH       255479 non-null  float64
 14  BBILLCHECK      255479 non-null  float64
 15  BCREDITAPP      255479 non-null  float64
 16  BCREDITDENY     255479 non-null  float64
 17  BSAVECACCT      255479 non-null  float64
 18  BINC12M         255479 non-null  float64
 19  BINTERNET       255479 non-null  float64
 20  BPSUPINT        654904 non-null  float64
dtypes: float64(21)
memory usage: 253.0 MB

In [20]:
#isolated those who responded to question battery about underbanked status
cps_cleaning_sub = cps_cleaning[cps_cleaning.BPSUPINT==1]

In [22]:
cps_cleaning_sub.BUNBANKED.value_counts()/len(cps_cleaning_sub)*100

1.0    93.134268
2.0     6.865732
Name: BUNBANKED, dtype: float64

Of the subset selected, 93% are unbanked.

In [73]:
#examining the breakdown of reasons alternative banking methods were utilized. 
cps_cleaning_sub.BUNDERBANKREAS.value_counts()

99.0    204546
2.0       8466
10.0      5096
1.0       3487
8.0       1427
3.0       1150
4.0        899
5.0        478
6.0        420
7.0        369
97.0       350
11.0       209
96.0       126
9.0         49
98.0        18
Name: BUNDERBANKREAS, dtype: int64

In [23]:
#Missing null data point percentages for sub population
cps_cleaning_sub.isnull().sum()*100/len(cps_cleaning_sub)

YEAR               0.000000
MONTH              0.000000
REGION             0.000000
STATEFIP           0.000000
COUNTY             0.000000
BUNBANKED          0.000000
BUNDERBANKREAS    54.399141
BACCTEV            0.000000
BCHECKEV          76.725871
BCHECK12M         23.274129
BCHECKREAS        54.399141
BPAYDAY           34.252151
BPAYDAYOFT        76.725871
BPAYDAYREAS       54.399141
BCHECK30D         57.526280
BPAYDAY12M         0.000000
BPAYDAY30D        57.526280
BINCWHERE         65.747849
BBILLCASH         65.747849
BBILLCHECK        65.747849
BCREDITAPP        65.747849
BCREDITDENY       65.747849
BSAVECACCT        65.747849
BINC12M           65.747849
BINTERNET         65.747849
BPSUPINT           0.000000
dtype: float64

In [24]:
#examing dimentions of sub population after isolation
cps_cleaning_sub.shape

(497995, 26)

In [25]:
cps_cleaning_sub.describe()

,YEAR,MONTH,REGION,STATEFIP,COUNTY,BUNBANKED,BUNDERBANKREAS,BACCTEV,BCHECKEV,BCHECK12M,...,BPAYDAY30D,BINCWHERE,BBILLCASH,BBILLCHECK,BCREDITAPP,BCREDITDENY,BSAVECACCT,BINC12M,BINTERNET,BPSUPINT
count,497995.000000,497995.000000,497995.000000,497995.000000,497995.000000,497995.000000,227090.000000,497995.000000,115904.000000,382091.000000,...,211517.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,170574.000000,497995.0
mean,2012.642908,4.836294,28.149495,28.314166,9650.779004,1.068657,89.823145,92.472856,4.871463,50.645799,...,97.013852,95.475530,7.500193,12.118711,9.006173,85.553127,46.428319,8.177049,7.841224,1.0
std,2.805656,2.112896,10.616588,15.966500,15214.311350,0.252871,27.990191,24.357753,16.695634,48.539995,...,13.765535,18.205134,22.587053,30.440094,25.146934,33.557313,48.435194,24.797829,24.443669,0.0
min,2009.000000,1.000000,11.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
25%,2011.000000,6.000000,21.000000,13.000000,0.000000,1.000000,99.000000,99.000000,2.000000,2.000000,...,99.000000,99.000000,2.000000,1.000000,2.000000,99.000000,2.000000,1.000000,1.000000,1.0
50%,2013.000000,6.000000,31.000000,28.000000,0.000000,1.000000,99.000000,99.000000,2.000000,96.000000,...,99.000000,99.000000,2.000000,1.000000,2.000000,99.000000,2.000000,1.000000,1.000000,1.0
75%,2015.000000,6.000000,41.000000,42.000000,12127.000000,1.000000,99.000000,99.000000,2.000000,99.000000,...,99.000000,99.000000,2.000000,2.000000,2.000000,99.000000,99.000000,2.000000,1.000000,1.0
max,2017.000000,6.000000,42.000000,56.000000,55139.000000,2.000000,99.000000,99.000000,99.000000,99.000000,...,99.000000,99.000000,98.000000,99.000000,98.000000,99.000000,99.000000,98.000000,98.000000,1.0

In [36]:
#isolating underbanked population
cps_underbanked = cps_cleaning_sub[cps_cleaning_sub.BUNBANKED==1]

In [37]:
#Missing null data point percentages for unbanked population
cps_underbanked.isnull().sum()*100/len(cps_underbanked)

YEAR               0.000000
MONTH              0.000000
REGION             0.000000
STATEFIP           0.000000
COUNTY             0.000000
BUNBANKED          0.000000
BUNDERBANKREAS    54.575640
BACCTEV            0.000000
BCHECKEV          76.767341
BCHECK12M         23.232659
BCHECKREAS        54.575640
BPAYDAY           34.460246
BPAYDAYOFT        76.767341
BPAYDAYREAS       54.575640
BCHECK30D         57.692905
BPAYDAY12M         0.000000
BPAYDAY30D        57.692905
BINCWHERE         65.539754
BBILLCASH         65.539754
BBILLCHECK        65.539754
BCREDITAPP        65.539754
BCREDITDENY       65.539754
BSAVECACCT        65.539754
BINC12M           65.539754
BINTERNET         65.539754
BPSUPINT           0.000000
dtype: float64

In [38]:
#examining the breakdown of why alternative banking is utilized
print("Missing Value Percentages:")
cps_underbanked.BCHECKEV.value_counts()*100/len(cps_underbanked)

Missing Value Percentages:

2.0     20.610430
1.0      1.991358
99.0     0.434882
96.0     0.071151
97.0     0.065761
98.0     0.059077
Name: BCHECKEV, dtype: float64

In [39]:

cps_underbanked.BCHECKEV.describe()

count    107754.000000
mean          4.530876
std          15.679487
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          99.000000
Name: BCHECKEV, dtype: float64

In [46]:
cps_cleaning_sub.YEAR.value_counts()

2009    115904
2011    111186
2013    100331
2015     87069
2017     83505
Name: YEAR, dtype: int64

In [48]:
cps_cleaning_sub.columns

Index(['YEAR', 'MONTH', 'REGION', 'STATEFIP', 'COUNTY', 'BUNBANKED',
       'BUNDERBANKREAS', 'BACCTEV', 'BCHECKEV', 'BCHECK12M', 'BCHECKREAS',
       'BPAYDAY', 'BPAYDAYOFT', 'BPAYDAYREAS', 'BCHECK30D', 'BPAYDAY12M',
       'BPAYDAY30D', 'BINCWHERE', 'BBILLCASH', 'BBILLCHECK', 'BCREDITAPP',
       'BCREDITDENY', 'BSAVECACCT', 'BINC12M', 'BINTERNET', 'BPSUPINT'],
      dtype='object')

In [50]:
list(cps_cleaning_sub.columns)[:5]

['YEAR', 'MONTH', 'REGION', 'STATEFIP', 'COUNTY']

In [66]:
list(cps_cleaning_sub.columns)[5:]

['BUNBANKED',
 'BUNDERBANKREAS',
 'BACCTEV',
 'BCHECKEV',
 'BCHECK12M',
 'BCHECKREAS',
 'BPAYDAY',
 'BPAYDAYOFT',
 'BPAYDAYREAS',
 'BCHECK30D',
 'BPAYDAY12M',
 'BPAYDAY30D',
 'BINCWHERE',
 'BBILLCASH',
 'BBILLCHECK',
 'BCREDITAPP',
 'BCREDITDENY',
 'BSAVECACCT',
 'BINC12M',
 'BINTERNET',
 'BPSUPINT']

In [68]:
categorical_cps_cleaning_sub = cps_cleaning_sub[['BUNBANKED', 'BUNDERBANKREAS', 'BACCTEV', 'BCHECKEV', 'BCHECK12M', 'BCHECKREAS', 'BPAYDAY',
                  'BPAYDAYOFT', 'BPAYDAYREAS', 'BCHECK30D', 'BPAYDAY12M', 'BPAYDAY30D', 'BINCWHERE', 'BBILLCASH',
                  'BBILLCHECK', 'BCREDITAPP', 'BCREDITDENY', 'BSAVECACCT', 'BINC12M', 'BINTERNET', 'BPSUPINT']]

In [ ]:
imputer = KNNImputer(n_neighbors=2)
imputer.fit_transform(categorical_cps_cleaning_sub)

# BRITNI WANTS BOX PLOTS