In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style
plt.style.use('fivethirtyeight')
import folium

In [2]:
cps_df = pd.read_csv("../data/processed/cps_2009_2017_clean")
acs_df = pd.read_csv("../data/processed/ACS_2011_2017_clean")
nfcs_df = None

In [27]:
cps_df[["STATEFIP", "COUNTY", "REGION"]]

        STATEFIP  COUNTY  REGION
0              1    1015      32
1              1       0      32
2              1       0      32
3              1       0      32
4              1       0      32
...          ...     ...     ...
463799        56       0      41
463800        56       0      41
463801        56       0      41
463802        56       0      41
463803        56       0      41

[463804 rows x 3 columns]

In [19]:
acs_df.head()

,Unnamed: 0,YEAR,SAMPLE,REGION,STATEFIP,COUNTYFIP,HHINCOME,SEX,AGE,MARST,...,CINETHH,CILAPTOP,CISMRTPHN,CITABLET,CIHAND,CIHISPEED,CISAT,CIDIAL,CIOTHSVC,FAMSIZE
0,3061692,2011,201101,32,1,125,9999999,2,19,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,3061693,2011,201101,32,1,0,9999999,2,86,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,3061694,2011,201101,32,1,0,87200,1,78,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,3061695,2011,201101,32,1,0,87200,2,74,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,3061696,2011,201101,32,1,0,43200,1,57,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
acs_df.STATEFIP

0            1
1            1
2            1
3            1
4            1
            ..
12684374    56
12684375    56
12684376    56
12684377    56
12684378    56
Name: STATEFIP, Length: 12684379, dtype: int64

In [31]:
acs_df["COUNTY"] = str(acs_df.STATEFIP) + str(acs_df.COUNTYFIP)
print(acs_df["COUNTY"])

0           0            1\n1            1\n2            1...
1           0            1\n1            1\n2            1...
2           0            1\n1            1\n2            1...
3           0            1\n1            1\n2            1...
4           0            1\n1            1\n2            1...
                                  ...
12581852    0            1\n1            1\n2            1...
12581853    0            1\n1            1\n2            1...
12581854    0            1\n1            1\n2            1...
12581855    0            1\n1            1\n2            1...
12581856    0            1\n1            1\n2            1...
Name: COUNTY, Length: 12581857, dtype: object

In [32]:
acs_df["COUNTY"][:6]

0    0            1\n1            1\n2            1...
1    0            1\n1            1\n2            1...
2    0            1\n1            1\n2            1...
3    0            1\n1            1\n2            1...
4    0            1\n1            1\n2            1...
5    0            1\n1            1\n2            1...
Name: COUNTY, dtype: object

In [26]:
acs_df.COUNTYFIP.unique()

array([125,   0,  97,  73, 117,   3,  81,  15,  55,  20,  27,  13,   5,
        19,  25, 119, 143,   7,  37,  65, 113,  87,  67,  71,  59,  29,
       111, 107,  85,   1,  99,  75,  95,  79,  83,  23,  47,  61,  77,
        89,  31,  17,  41,  39, 123,  11,   9, 109, 105, 127, 101,  21,
       103,  57,  69,  91, 115,  33,  53, 121, 215, 151,  51,  63, 139,
       135, 245, 179,  43, 141,  35, 163, 153, 193, 209, 177, 510, 145,
       161,  93, 137, 189, 183,  45, 159, 191, 133, 147, 155,  49, 169,
       165, 129, 157, 187, 149, 201, 491, 303, 167, 309, 441, 381, 423,
       329, 375, 479, 485, 251, 710, 760, 810, 650, 550, 700, 185, 313,
       223, 197, 227, 171, 453, 339, 439, 367, 355, 257, 451], dtype=int64)